astroid==4.1.1
certifi==2026.2.25
charset-normalizer==3.4.4
coverage==7.13.4
dill==0.4.1
freezegun==1.5.5
hatchling==1.29.0
idna==3.11
iniconfig==2.3.0
isort==8.0.1
mccabe==0.7.0
mypy==1.19.1
packaging==26.0
pathspec==1.0.4
pip==26.0.1
platformdirs==4.9.2
pluggy==1.6.0
pylint==4.0.5
pytest==9.0.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.32.5
responses==0.26.0
ruff==0.15.4
setuptools==82.0.0
six==1.17.0
slacker==0.14.0
tomlkit==0.14.0
trove-classifiers==2026.1.14.14
typing_extensions==4.15.0
urllib3==2.6.3
waterstand==1.4.2
